node_modules
dist
.env
.env.local
.DS_Store
_frames
_whole
_after2nd
_move3d
_whole_intro
_architecktura.css
_extract_fonts.py
_extract_css.py
_setup.py
WHOLEDESIGN.mp4
AboutHero.mp4
Moving3DSection.mp4
after2ndsection.mp4
button.mp4
_tts
*.log
